<div *ngIf="highScore">
    <h1>
        You got a high score! Enter your name.
    </h1> 
    <input [(ngModel)]="name">
    <button class="btn btn-primary btn-lg" (click)="sendScore()">Send my score!</button>
</div>


<h1>Hight Scores</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of scores | async">
        <td>{{ score.name }}</td>
        <td>{{ score.score}}</td>
      </tr>
    </tbody>
</table>

